<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="alternate" type="application/rss+xml" href="/atom.xml"/>


    <!-- Le styles -->
    <link href="/assets/css/bootstrap.min.css?cache={{ "now"|date("U") }}" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.min.css?cache={{ "now"|date("U") }}" rel="stylesheet">
    <link href="/assets/css/style.css?cache={{ "now"|date("U") }}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js?cache={{ " now"|date("U") }}"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/assets/ico/favicon.png">
</head>

<body>

<div class="container">

    <div class="masthead">
        <div class="pull-right" style="padding-top: 5px;">
            <input id="search_field" name="search_field" type="text" placeholder="Search" style="margin: 0;">
            <button class="btn" type="submit" id="search_btn" style="margin: 0;"><i class="icon-search"></i></button>
        </div>
        <h3 class="muted"><a href="/">Blog</a></h3>
    </div>

    <div id="content_container">
        {% block content %}{% endblock %}
    </div>
    <div id="search_container">
        <div style="float:right;">
            <button class="btn" id="search_close_btn"><i class="icon-arrow-left"></i>&nbsp;Back</button>
        </div>
        <h3>Search results</h3>
        <span id="searching_message">Searching...</span>

        <div id="no_result_message" class="alert-message warning">
            <p><strong>No matching post found</strong></p>
        </div>
        <ul class="search_results">
            <li id="search_result_template">
                <div>
                    <h4>
                        <a href="" class="search_post_link"></a><br/>
                        <small>Published on <span class="search_post_date"></span></a></small>
                    </h4>
                </div>
            </li>
        </ul>
    </div>

    <hr>

    <div class="footer">
        <p>&copy; Blog's owner 2013</p>
    </div>

</div>
<!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.min.js?cache={{ "now"|date("U") }}"></script>
<script src="/assets/js/bootstrap.min.js?cache={{ "now"|date("U") }}"></script>
<script src="/assets/js/scripts.js?cache={{ "now"|date("U") }}"></script>

</body>
</html>
